<!doctype html>

<html>
	<head>
		<title>{% block title %}{% endblock %} | Hacker Union</title>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
		{% block extra-styles %}{% endblock %}
	</head>
	<body>
	  {% block topbar %}
	    <section id="navigation">
        <div class="topbar-wrapper" style="z-index:5;">
          <div class="topbar" data-dropdown="dropdown">
            <div class="topbar-inner">
              <div class="container">
                <h3><a>Hacker Union</a></h3>
                <ul class="nav">
                  <li class="dropdown">
                    <a class="dropdown-toggle">Chapter</a>
                    <ul class="dropdown-menu">
                      <li class="active">NYC</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
	  {% endblock %}
		{% block content %}{% endblock %}
		{% include "analytics.html" %}
	</body>
</html>
