{% extends 'base.html' %}

{% block page_title %}Homepage{% endblock %}

{% block content %}
	
	<h1><a href='/?chapter=nyc'><strong>nyc</strong>.hackerunion.org</a></h1>
	<h2>People</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lectus nisl, placerat ut tempus eget, vulputate at quam. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor malesuada felis et cursus. In viverra tempor nulla, ac laoreet diam lobortis eget. Aliquam erat volutpat. Nunc nec dolor lectus, a lacinia urna. Nulla adipiscing ullamcorper ante at ultrices. Mauris in metus mi.</p>
	<h2>Events</h2>
	<p>Proin ut nulla lectus, in dapibus ante. Vestibulum non dolor ut odio fringilla laoreet. Nunc accumsan porttitor magna, ac ornare mi pellentesque id. Sed sed libero nec augue dignissim iaculis. In congue dignissim bibendum. Duis tempor nunc vitae lorem venenatis id rhoncus enim condimentum. Suspendisse lacinia accumsan ligula, eleifend lobortis mauris placerat a. Phasellus ut sapien augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum mattis sem, in pulvinar velit ultrices vitae.</p>
	<h2>Projects</h2>
	<p>Quisque id libero justo. Nulla et blandit augue. Maecenas id risus sem. Nulla et metus vel massa feugiat mollis quis eu nulla. Proin euismod faucibus elementum. Pellentesque id eros ac orci sagittis mattis. Mauris non facilisis dolor. Mauris semper cursus diam et pulvinar. Phasellus sagittis suscipit augue in rhoncus. Aliquam hendrerit ornare leo, vitae gravida justo consectetur nec. Cras sollicitudin dictum tellus, quis cursus diam ultrices id. Sed varius ipsum quis lacus scelerisque sit amet lacinia tortor sagittis. Sed non neque id urna tempus vehicula eget vel ante. Cras feugiat luctus nunc, sed euismod massa scelerisque a. Sed in ultrices enim.</p>
	<h2>Resources</h2>
	<p>Ut in arcu lectus. Phasellus bibendum nisi lorem, vehicula consectetur risus. Donec laoreet tristique nunc, ultricies bibendum arcu laoreet a. Donec vitae tellus eros, sed suscipit orci. Ut quis interdum mauris. Sed et diam urna. Fusce condimentum posuere bibendum. Phasellus ullamcorper eros odio. Nunc aliquam fringilla leo, ut ultrices mi luctus ut. Curabitur fringilla porttitor eros, quis tincidunt augue ornare et. Donec posuere justo a neque imperdiet ac hendrerit nulla mollis. Aenean nec sem mauris, sit amet sagittis ligula.</p>
	
{% endblock %}

