{% extends 'people/bootstrap.html' %}

{% block content %}
<div class="container" style="margin-top:80px;">
  <h3>All users</h3>
  <table>
    <thead>
      <tr>
        <td>User ID</td>
        <td>Chapter</td>
        <td>Email</td>
        <td>Date Created</td>
        <td>Last Modified</td>
      </tr>
    </thead>
    {% for profile in profiles.all %}
      {% with profile.user as hacker %}
        <tr>
          <td>{{ hacker.id }}</td>
          <td>{{ profile.chapter }}</td>
          <td><a href="{{ profile.get_absolute_url }}">{{ hacker.email }}</a></td>
          <td>{{ hacker.date_joined|date:"F j, Y" }}</td>
          <td>{{ profile.last_modified }}</td>
        </tr>
      {% endwith %}
    {% endfor %}
  </table>
</div>
{% endblock %}