{% load cache %}
{% load people %}

{% cache 3600 people.profile.gravatar hacker.username %}
  <img src="{{ hacker|gravatar_url }}">
{% endcache %}

<ul>
  {% with hacker|twitter as twitter %}{% if twitter %}<li><a href="{{ twitter|service_url }}">{{ twitter|service_label }}</a></li>{% endif %}{% endwith %}
  {% with hacker|facebook as facebook %}{% if facebook %}<li><a href="{{ facebook|service_url }}">{{ facebook|service_label }}</a></li>{% endif %}{% endwith %}
  {% with hacker|tumblr as tumblr %}{% if tumblr %}<li><a href="{{ tumblr|service_url }}">{{ tumblr|service_label }}</a></li>{% endif %}{% endwith %}
</ul>